body {
background-color: #black;
font-family: Arial, sans-serif;
}
 
h1 {
color: blue;
text-align: center;
}

p {
 color: black;
font-size: 16px;
line-height: 1.5;
}

img {
display: block;
margin: 0 auto;
border-radius: 10px;
}